@model DataAccessLogic.LogicaEnfermedad.AgregarEnfermedad.Ejecuta

@{
    ViewData["Title"] = "Guardar";
}

<div class="row">
    <div class="col-12 mt-md-3">
        <div class="text-center">
            <h4>@ViewData["Title"] enfermedad</h4>
            <h6>Sistema de clinica <strong>Versión: Beta</strong></h6>
        </div>
    </div>
    <div class="offset-lg-3 offset-md-3 col-lg-6 col-md-6 col-sm-12 mt-2">
        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEnfermedad" class="control-label"></label>
                <input asp-for="NombreEnfermedad" class="form-control" />
                <span asp-validation-for="NombreEnfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionEnfermedad" class="control-label"></label>
                <input asp-for="DescripcionEnfermedad" class="form-control" />
                <span asp-validation-for="DescripcionEnfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                <a asp-action="Index" class="btn btn-danger btn-block">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}