
@{
    ViewData["Title"] = "Error";
}

<div class="row text-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 401</p>
                <h3>OPPSSS!!!! Lo siento...</h3>
                <p>Error no cuentas con los permisos necesarios para acceder a la pagina: <strong>@ViewBag.Pagina</strong>. <br />Si deseas acceder a esta pagina comunicate con el administrador del sistema</p>
                <a class="btn btn-primary btn-sm" asp-controller="@ViewBag.paginaAnterior" asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</div>

