@model DataAccessLogic.LogicaPaciente.AgregarPaciente.Ejecuta

@{
    ViewData["Title"] = "Guardar";
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h4>Guardar</h4>
            <h5>Paso numero 1</h5>
            <h6>Paciente</h6>
        </div>
    </div>
    <div class="offset-md-2 col-md-8 col-sm-12">
        <form asp-action="Guardar" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="NombrePaciente" class="control-label"></label>
                <input asp-for="NombrePaciente" class="form-control" />
                <span asp-validation-for="NombrePaciente" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="ApellidoPaciente" class="control-label"></label>
                <input asp-for="ApellidoPaciente" class="form-control" />
                <span asp-validation-for="ApellidoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="EdadPaciente" class="control-label"></label>
                <input asp-for="EdadPaciente" class="form-control" />
                <span asp-validation-for="EdadPaciente" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="NoDuiPaciente" class="control-label"></label>
                <input asp-for="NoDuiPaciente" class="form-control" id="dui" />
                <span asp-validation-for="NoDuiPaciente" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <div class="text-center">
                    <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                    <a asp-action="Index" class="btn btn-danger btn-block">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/Inputmask-5.x/dist/inputmask.js"></script>
<script src="~/lib/Inputmask-5.x/dist/jquery.inputmask.js"></script>
<script src="~/js/InputMask/pacienteInputMask.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
