@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center animated fadeInDown">
    @if (ViewBag.Nombre != null)
    {
        <h1 class="h1">SISTEMA DE CLINICA&reg;</h1>
        <h6 class="h6">BIENVENIDO @ViewBag.Nombre </h6>
    }
    else
    {
        <h1 class="h1">CLINICA @DateTime.Now.ToShortDateString()</h1>
        <h6 class="h6">Bienvenido</h6>
    }


    <p>Versión: Beta</p>
</div>
